
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

<div class="jumbotron">
    <div class="container">
        <h1>Find New Music!</h1>
        <p>To begin finding all of your music and its metadata simply press Scan Now, 
        please note this may take a little while if you have a large collection of files.</p>
        
        <button class="btn btn-primary btn-lg">Scan Now »</button>
    </div>
</div>

