<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMusicWatcher" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/MusicWatcher/WCF_Service"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMusicWatcher"
                contract="MusicWatcher.IMusicWatcher" name="BasicHttpBinding_IMusicWatcher" />
        </client>
    </system.serviceModel>
</configuration>